.site-layout-background {
  padding: 24px;
  background: var(--white);
  margin-top: 64px;
}

.logo {
  margin: 16px;
  h2 {
    font-size: 23px;
    text-align: center;
    font-weight: bolder;
    color: var(--secondary);
  }
}

.ant-layout-header {
  background: var(--white) !important;
  border-bottom: 2px solid var(--border) !important;
} 

a {
  color: var(--primary);
}

.primary-round-button {
  border: 1px solid;
  border-radius: 16px;
  color: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.ant-tabs-nav-list {
  width: -webkit-fill-available;

  .ant-tabs-tab {
    width: 100%;
    height: 35px;
    justify-content: center;
    border: 2px solid var(--primary) !important;
    border-radius: 30px !important;
    .ant-tabs-tab-btn {
      color: var(--primary) !important;
    }
  }

  .ant-tabs-tab-active {
    z-index: 999;
    background: var(--primary) !important;
    .ant-tabs-tab-btn {
      color: var(--white) !important;
    }
  }
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-left: -31px;
}
