a {
  color: var(--primary);
}

.primary-round-button {
  border: 1px solid;
  border-radius: 16px;
  color: var(--white);
}

.ant-tabs-nav-list {
  width: -webkit-fill-available;

  .ant-tabs-tab {
    width: 100%;
    height: 35px;
    justify-content: center;
    border: 2px solid var(--primary) !important;
    border-radius: 30px !important;
    .ant-tabs-tab-btn {
      color: var(--primary) !important;
    }
  }

  .ant-tabs-tab-active {
    z-index: 999;
    background: var(--primary) !important;
    .ant-tabs-tab-btn {
      color: var(--white) !important;
    }
  }
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-left: -31px;
}

.ant-menu.ant-menu-dark, .ant-layout-sider {
  background: var(--primary) !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--secondary) !important;
}

.ant-layout-sider-trigger {
  background: var(--primary) !important;
}

.ant-tabs-nav-operations {
  display: none !important;
}